<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Notes List</title>
    </head>
    <body>
        <h1>NOTES LIST</h1>
        <br>
        <!-- TODO loop from Friend model -->
        {% if notes %} 
            {% for note in notes %}
            <tr>
            <td>From: {{ note.note_from }}</td> 
            <br>
            <td>To: {{ note.note_to }}</td>
            <br>
            <td>Title: {{ note.note_title }}</td>
            <br>
            <td>Message: {{ note.message }}</td>
            <br>
            </tr>
            <br/>
            {% endfor %}
        {% endif %}
    </body>
</html>
