<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
</head>

<body>
    <h1>Hello My Name is {{ name }}</h1
    <b>List Pengguna:</b>
    <br/> <br/>
    {% if persons %} 
        {% for person in persons %}
            {{ person.display_name }} {{person.phone_number}}
        <br/>
        {% endfor %}
    {% endif %}
</body>

</html>