<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend List</title>
  </head>
  <body>
    <table>
      <tr>
        <th>Name</th>
        <th>NPM</th>
        <th>DOB</th>
      </tr>
      <!-- TODO loop from Friend model -->
      {% if friends %} 
        {% for fr in friends %}
        <tr>
          <td>{{ fr.name }}</td>
          <td>{{ fr.npm }}</td>
          <td>{{ fr.birth_date }}</td>
          </tr>
        <br/>
        {% endfor %}
    {% endif %}
    </table>
  </body>
</html>
