<h1>Add Note</h1> 
<style> 
    h1 {
        color: rgb(207, 69, 69);
    }
</style> 
<form action="" method="POST">
    {% csrf_token %}
    <table border="1">
        {{ form }}
    </table>
    <br>
    <a href="/lab-5"><input type="button" value="Back"></a>
    <input type="submit" value="Submit">
</form>