<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Notes Card</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <div id="header">
      <h1>NOTES CARD</h1>
    </div>

    <div id="navbar">
      <br />
      <a href="/lab-4"><button class="button button1">HOME</button></a>
      <a href="/lab-4/add-note"
        ><button class="button button2">Add Note</button></a
      >
      <a href="/lab-4/note-list"
        ><button class="button button1">Note Card</button></a
      >
    </div>

    {% if notes %}
    <div class="card">
      {% for note in notes %}
      <ul class="list-group list-group-flush" id="each">
        <li class="list-group-item">
          From: {{ note.note_from }}
          <br />
          To: {{ note.note_to }}
          <br />
          Title: {{ note.note_title }}
          <br />
          Message: {{ note.message }}
          <br />
        </li>
        {% endfor %} {% endif %}
      </ul>
    </div>
  </body>

  <style>
    h1 {
      color: rgb(216, 25, 200);
      margin: 10px;
    }

    #content {
      background-color: #cedb18;
      margin-left: 10px;
      margin-top: 10px;
      padding: 20px 20px 20px 40px;
      border-radius: 8px;
    }

    .button {
      border: none;
      color: white;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 12px;
      margin: 4px 10px;
      cursor: pointer;
      border-radius: 8px;
    }
    .button:hover {
      box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
        0 17px 50px 0 rgba(0, 0, 0, 0.19);
      color: rgb(218, 124, 36);
    }
    .button1 {
      background-color: #4caf50;
    }

    .button2 {
      background-color: #008cba;
    }

    .card {
        background-color: #ffffff;
        margin: 10px;
        color: #000000;
        font-family: cursive;
        padding: 20px 20px 10px 20px;
        outline-color: #ffffff;
        width: 50rem;
    
    }

    .list-group-item {
        background-color: #fbff00;
        margin-bottom: 10px;
    }

  </style>
</html>
