<h1>Add Note</h1> 
<style> 

</style> 
<form action="" method="POST">
    {% csrf_token %}
    <table border="1">
        {{ form }}
    </table>
    <br>
    <a href="/lab-4"><input type="button" value="Back"></a>
    <input type="submit" value="Submit">
</form>