<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Notes List</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'style.css' %">
  </head>

  <body>
    <div id="header">
      <h1>NOTES TABLE</h1>
    </div>

    <div id="navbar">
      <br />
      <a href="/lab-4"><button class="button button1">HOME</button></a>
      <a href="/lab-4/add-note"
        ><button class="button button2">Add Note</button></a
      >
      <a href="/lab-4/note-list"
        ><button class="button button1">Note Card</button></a
      >
    </div>
    <div id="table">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">From</th>
            <th scope="col">To</th>
            <th scope="col">Title</th>
            <th scope="col">Message</th>
          </tr>
        </thead>
        <tbody>
          {% if notes %} {% for note in notes %}
          <tr>
            <td></td>
            <td>{{ note.note_from }}</td>
            <td>{{ note.note_to }}</td>
            <td>{{ note.note_title }}</td>
            <td>{{ note.message }}</td>
          </tr>
          {% endfor %} {% endif %}
        </tbody>
      </table>
    </div>
  </body>

  <style>
    

    #content {
      background-color: #cedb18;
      margin-left: 10px;
      margin-top: 10px;
      padding: 20px 20px 20px 40px;
      border-radius: 8px;
    }

    .button {
      border: none;
      color: white;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 12px;
      margin: 4px 10px;
      cursor: pointer;
      border-radius: 8px;
    }
    .button:hover {
      box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
        0 17px 50px 0 rgba(0, 0, 0, 0.19);
      color: rgb(218, 124, 36);
    }
    .button1 {
      background-color: #4caf50;
    }

    .button2 {
      background-color: #008cba;
    }

    .table {
      border: 10px 10px 10px 10px;
    }

    table tr {
      counter-increment: rowNumber;
    }
    table tr td:first-child::before {
      content: counter(rowNumber);
    }
  </style>
</html>
